### 1. Given a list of integers, remove all occurrences of a specific value using a list method.

In [1]:
lis=[1,2,4,6,7,9,5]
lis.remove(1)
print(lis)

[2, 4, 6, 7, 9, 5]

### 2. Concatenate a list of strings into a single string, with each element separated by a space, using a list method.

In [2]:
l1 = ['hello', 'Kartik']
str = ' '.join(l1)
print(str)

hello Kartik

### 3. Reverse a list of integers using a built-in list method.

In [3]:
l2=[1,2,4,6,7,9,5]
l2.reverse()
print(l2)

[5, 9, 7, 6, 4, 2, 1]

### 4. Sort a list of numbers in descending order using a built-in list method.

In [4]:
l3=[1,2,4,6,7,9,5]
l3.sort(reverse=True)
print(l3)

[9, 7, 6, 5, 4, 2, 1]

### 5. Given two lists, combine them into a single list and remove any duplicate elements using a list method.

In [5]:
lis1=[1,2,4,6,7,9,5]
lis2=[7,8,9,6,5,4,3]
lis3=list(set(lis1+lis2))
print(lis3)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 6. Convert a tuple of integers into a list and remove the first and last elements using a tuple method.

In [6]:
t=(1,2,4,6,7,9)
print(type(t))

list1=list(t)
print(type(list1))
list1[1:-1]

<class 'tuple'>
<class 'list'>

[2, 4, 6, 7]

### 7. Given a list of tuples, extract all the first elements of each tuple into a separate list using tuple unpacking.

In [7]:
t_lst = [(3, 'a'), (4, 'b'), (7, 'c')]
final_lis = list(map(lambda x: x[0], t_lst))
print(final_lis)

[3, 4, 7]

### 8. Combine two tuples into a single tuple.

In [8]:
t1=(1,2,4,6)
t2=(5,7,3,9)
t3=tuple(t1+t2)
print(t3)

(1, 2, 4, 6, 5, 7, 3, 9)

### 9. Find the maximum and minimum values in a tuple of numbers using tuple methods.

In [9]:
t4=(4,9,12,57)
print("maximum number from tuple t4 =", max(t4))
print("minimum number from tuple t4 =", min(t4))

maximum number from tuple t4 = 57
minimum number from tuple t4 = 4

### 10. Convert a tuple of strings into a single string, with each element separated by a comma, using tuple methods.

In [10]:
t5=("KARTIK", "PODAR", "WORLD")
T6=', ' .join(t5)
print(T6)

KARTIK, PODAR, WORLD

### 11. Given two sets, return the union of the two sets using a set operation.

In [11]:
s1={1,2,5,6}
s2={5,9,2,8}
s3=s1.union(s2)
print(s3)

{1, 2, 5, 6, 8, 9}

### 12. Find the intersection of two sets using a set method.

In [12]:
s4=s1.intersection(s2)
print(s4)

{2, 5}

### 13. Remove all elements from one set that are also present in another set using a set method.

In [13]:
s1={1,3,5,7}
s5=s1.difference_update(s2)
print(s5)

None

### 14. Find the difference between two sets using a set method.

In [14]:
s6=s1.difference(s2)
print(s6)

{1, 3, 7}

### 15. Convert a list of integers into a set and then back to a list to remove duplicates, using set operations.

In [15]:
lis11 = [1, 2, 2, 3, 3, 4, 5]
set1 = set(lis11)
unique_list = list(set1)
print(unique_list)

[1, 2, 3, 4, 5]

### 16. Merge two dictionaries into a single dictionary using a dictionary method.

In [16]:
dic1={"Name":"Kartik", "Age":22, "Branch":"Cse"}
dic2={"Address":"Jaipur", "Gender":"Male", "E-mail":"Kartik@gmail.com"}
dic3={**dic1,**dic2}
print(dic3)

{'Name': 'Kartik', 'Age': 22, 'Branch': 'Cse', 'Address': 'Jaipur', 'Gender': 'Male', 'E-mail': 'Kartik@gmail.com'}

### 17. Extract all values from a dictionary into a list using a dictionary method.

In [17]:
dic4=list(dic3.values())
print(dic4)

['Kartik', 22, 'Cse', 'Jaipur', 'Male', 'Kartik@gmail.com']